
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayouAdmin.cshtml";
}
<style>
    h2{
        font-size:17px;
        font-weight:bold;
    }
</style>
    <h2>Chào ADMIN, chúc bạn một ngày làm việc hiệu quả</h2>

