@*<div id="baner">
    <div class="bg"></div>
    <div class="img"><img src="~/Content/img/baner/1.png" alt="" /></div>
    <div class="text-baner">
        <div class="slogan">
            <h2> <span>TSB</span><br /> Total Solution Business</h2>
        </div>
        <div class="sumary">
            <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </span>
        </div>
        <div class="submit">
            <button class="btn btn-default">Xem thêm</button>
        </div>
    </div>
</div>*@
