
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    tr > td {
        text-align: center;
        background: #fff;
        width: 50%;
        vertical-align: auto !important;
        padding: 0 !important;
    }
</style>
<div class="container contact">
    <h2 style="text-transform:uppercase"> <i class="far fa-chevron-circle-right"></i><span> Khách hàng</span></h2>
    <table class="table table-striped">
        <tbody>
            @*@for (int i = 0; i < 6; i++)
                {
                    <tr>
                        <td><img src="~/Content/img/customer/1.png" alt="Alternate Text" /></td>
                        <td><img src="~/Content/img/customer/2.png" alt="Alternate Text" /></td>
                    </tr>
                }*@
            <tr>
                <td><img src="~/Content/img/customer/1.png" alt="Alternate Text" /></td>
                <td><img src="~/Content/img/customer/2.png" alt="Alternate Text" /></td>
            </tr>
            <tr>
                <td><img src="~/Content/img/customer/3.png" alt="Alternate Text" /></td>
                <td><img src="~/Content/img/customer/4.png" alt="Alternate Text" /></td>
            </tr>
            <tr>
                <td><img src="~/Content/img/customer/5.png" alt="Alternate Text" /></td>
                <td><img src="~/Content/img/customer/6.png" alt="Alternate Text" /></td>
            </tr>
            <tr>
                <td><img src="~/Content/img/customer/7.png" alt="Alternate Text" /></td>
                <td><img src="~/Content/img/customer/8.png" alt="Alternate Text" /></td>
            </tr>
            <tr>
                <td><img src="~/Content/img/customer/9.png" alt="Alternate Text" /></td>
                <td><img src="~/Content/img/customer/10.png" alt="Alternate Text" /></td>
            </tr>
            <tr>
                <td><img src="~/Content/img/customer/11.png" alt="Alternate Text" /></td>
                <td><img src="~/Content/img/customer/12.gif" alt="Alternate Text" /></td>
            </tr>
        </tbody>
    </table>
</div>